.locationList {
    background: red;
}

@media (max-width:48em) {
    .locationList {
        background: yellow;
        max-height:  30vh;
        overflow: auto;
        margin-bottom: 20px;
    }
}